In [15]:
import numpy as np
import pandas as pd

In [34]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///my_database.db', echo=False)

In [35]:
df_c1 = pd.read_csv('./data/clase_1.csv',sep = ';')
df_c1 = df_c1.iloc[:,:2]

In [36]:
df_c1

                  Nombre                           Email
0           Jafet Casals          Jafet_Casals@gmail.com
1       Jorge Manzanares      Jorge_Manzanares@gmail.com
2          Onofre Adadia         Onofre_Adadia@gmail.com
3           Merche Prada          Merche_Prada@gmail.com
4           Pilar Abella          Pilar_Abella@gmail.com
5           Leoncio Tena          Leoncio_Tena@gmail.com
6        Odalys Torrijos       Odalys_Torrijos@gmail.com
7       Eduardo Caparrós      Eduardo_Caparrós@gmail.com
8     Ignacio Goicoechea    Ignacio_Goicoechea@gmail.com
9      Clementina Santos     Clementina_Santos@gmail.com
10         Daniela Falcó         Daniela_Falcó@gmail.com
11         Abraham Vélez         Abraham_Vélez@gmail.com
12  Maximiliano Menéndez  Maximiliano_Menéndez@gmail.com
13         Anita Heredia         Anita_Heredia@gmail.com
14             Eli Casas             Eli_Casas@gmail.com

In [37]:
df_c1.to_csv('data/converted/test.csv')

In [38]:
df_c1.to_sql(name='clase_1', con = engine, if_exists='fail')

15

In [40]:
from sqlalchemy import text
with engine.connect() as conn:
   result = conn.execute(text("SELECT * FROM clase_1")).fetchall()
   print(result)

[(0, 'Jafet Casals', 'Jafet_Casals@gmail.com'), (1, 'Jorge Manzanares', 'Jorge_Manzanares@gmail.com'), (2, 'Onofre Adadia', 'Onofre_Adadia@gmail.com'), (3, 'Merche Prada', 'Merche_Prada@gmail.com'), (4, 'Pilar Abella', 'Pilar_Abella@gmail.com'), (5, 'Leoncio Tena', 'Leoncio_Tena@gmail.com'), (6, 'Odalys Torrijos', 'Odalys_Torrijos@gmail.com'), (7, 'Eduardo Caparrós', 'Eduardo_Caparrós@gmail.com'), (8, 'Ignacio Goicoechea', 'Ignacio_Goicoechea@gmail.com'), (9, 'Clementina Santos', 'Clementina_Santos@gmail.com'), (10, 'Daniela Falcó', 'Daniela_Falcó@gmail.com'), (11, 'Abraham Vélez', 'Abraham_Vélez@gmail.com'), (12, 'Maximiliano Menéndez', 'Maximiliano_Menéndez@gmail.com'), (13, 'Anita Heredia', 'Anita_Heredia@gmail.com'), (14, 'Eli Casas', 'Eli_Casas@gmail.com')]